# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
    
.env
.next/build-manifest.json
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/1.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/11.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/13.pack
.next/cache/webpack/server-development/14.pack
.next/cache/webpack/server-development/15.pack
.next/cache/webpack/server-development/16.pack
.next/cache/webpack/server-development/17.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/pages/404.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/api/ipUser/ipUser.js
.next/server/pages/api/kursy.js
.next/server/pages/api/kursy/kursy.js
.next/server/pages/api/questionnaire.js
.next/server/pages/api/social/comments.js
.next/server/pages/api/social/getPostsCount.js
.next/server/pages/api/social/posts.js
.next/server/pages/api/users/getUser.js
.next/server/pages/api/users/login.js
.next/server/pages/api/weather.js
.next/server/pages/api/weather/weather.js
.next/server/pages/api/yaknet.js
.next/server/pages/auth.js
.next/server/pages/index.js
.next/server/pages/social.js
.next/server/pages/social/\[id\].js
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/main.js
.next/static/chunks/pages/404.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/auth.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/social.js
.next/static/chunks/pages/social/\[id\].js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/static/development/_middlewareManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/fa-brands-400.052f501d.woff
.next/static/media/fa-brands-400.606e06d3.svg
.next/static/media/fa-brands-400.6a5999f5.woff2
.next/static/media/fa-brands-400.84dfb1dd.eot
.next/static/media/fa-brands-400.e27d1973.ttf
.next/static/media/fa-duotone-900.1696f010.woff2
.next/static/media/fa-duotone-900.4e8b7bfb.svg
.next/static/media/fa-duotone-900.55bc1811.woff
.next/static/media/fa-duotone-900.a3dc0f99.eot
.next/static/media/fa-duotone-900.dceab92d.ttf
.next/static/media/fa-light-300.0c2147a5.ttf
.next/static/media/fa-light-300.2310e519.woff2
.next/static/media/fa-light-300.392a3d8c.woff
.next/static/media/fa-light-300.d6dfb7ba.svg
.next/static/media/fa-light-300.f068e02c.eot
.next/static/media/fa-regular-400.017e6b2d.eot
.next/static/media/fa-regular-400.1bf8317f.svg
.next/static/media/fa-regular-400.4468d291.woff2
.next/static/media/fa-regular-400.4b1ffdd6.woff
.next/static/media/fa-regular-400.d6a15135.ttf
.next/static/media/fa-solid-900.5f2bc9e9.woff2
.next/static/media/fa-solid-900.a48c4862.svg
.next/static/media/fa-solid-900.ad7832f2.ttf
.next/static/media/fa-solid-900.bcda6817.eot
.next/static/media/fa-solid-900.cec305be.woff
.next/static/webpack/03c9d31e49503bf4.webpack.hot-update.json
.next/static/webpack/0bf3bc08974450d4.webpack.hot-update.json
.next/static/webpack/0ffafaaa8292c8ca.webpack.hot-update.json
.next/static/webpack/126f00e43462b2bc.webpack.hot-update.json
.next/static/webpack/1509a11a541748dc.webpack.hot-update.json
.next/static/webpack/2806a388b60082c1.webpack.hot-update.json
.next/static/webpack/2d58dab8caedbffd.webpack.hot-update.json
.next/static/webpack/30ca0756a7d39436.webpack.hot-update.json
.next/static/webpack/3b84ae907eacad0b.webpack.hot-update.json
.next/static/webpack/3cbf3358a881d44f.webpack.hot-update.json
.next/static/webpack/48b1f2720d34c6ed.webpack.hot-update.json
.next/static/webpack/48cd940fe3ecf37c.webpack.hot-update.json
.next/static/webpack/4ca9913733630f30.webpack.hot-update.json
.next/static/webpack/4e77a86d6c4f53e9.webpack.hot-update.json
.next/static/webpack/4fcfc2fa3c95b4cf.webpack.hot-update.json
.next/static/webpack/5b3e98247d242de6.webpack.hot-update.json
.next/static/webpack/5ee8c42de4e15143.webpack.hot-update.json
.next/static/webpack/6484209048d79234.webpack.hot-update.json
.next/static/webpack/736f5ef448f23133.webpack.hot-update.json
.next/static/webpack/7383c26ec2cad832.webpack.hot-update.json
.next/static/webpack/785cd2eb6a853eae.webpack.hot-update.json
.next/static/webpack/7aefb0ae5b9b4061.webpack.hot-update.json
.next/static/webpack/7ece184eac4dbc51.webpack.hot-update.json
.next/static/webpack/84a539a7c611ea47.webpack.hot-update.json
.next/static/webpack/8940eb14710402fb.webpack.hot-update.json
.next/static/webpack/89b1f9fb93bc34a7.webpack.hot-update.json
.next/static/webpack/8e79e38ca2ad853e.webpack.hot-update.json
.next/static/webpack/906f043abd5410f0.webpack.hot-update.json
.next/static/webpack/941c0f6d9a35858d.webpack.hot-update.json
.next/static/webpack/9bc923a0dfc3c4c8.webpack.hot-update.json
.next/static/webpack/9dd85351abeb1055.webpack.hot-update.json
.next/static/webpack/9fcb88af16e20949.webpack.hot-update.json
.next/static/webpack/a19b0b346b567832.webpack.hot-update.json
.next/static/webpack/b26fb131924c9ccf.webpack.hot-update.json
.next/static/webpack/b539bc682ec26e6d.webpack.hot-update.json
.next/static/webpack/bc97a6b2a355a65c.webpack.hot-update.json
.next/static/webpack/c1919b6958ba2036.webpack.hot-update.json
.next/static/webpack/c2f834ec9119240f.webpack.hot-update.json
.next/static/webpack/c66a7f99bae9befd.webpack.hot-update.json
.next/static/webpack/c6c48bc2a94eb8c1.webpack.hot-update.json
.next/static/webpack/cb94f7aabe051134.webpack.hot-update.json
.next/static/webpack/d2f66c840fe6a54c.webpack.hot-update.json
.next/static/webpack/d4a5f022ac958a79.webpack.hot-update.json
.next/static/webpack/d54364fdec5fe88a.webpack.hot-update.json
.next/static/webpack/d59a75a516eec30d.webpack.hot-update.json
.next/static/webpack/dd883b7fa2df5e67.webpack.hot-update.json
.next/static/webpack/e5398877029a44f8.webpack.hot-update.json
.next/static/webpack/e69e7fa3e4d1378c.webpack.hot-update.json
.next/static/webpack/e70ac9fb62257809.webpack.hot-update.json
.next/static/webpack/ed54c8bd440f73d5.webpack.hot-update.json
.next/static/webpack/ef39d04f537f0170.webpack.hot-update.json
.next/static/webpack/f2b517b71fc6dbed.webpack.hot-update.json
.next/static/webpack/f6fd967f5d9b5b6b.webpack.hot-update.json
.next/static/webpack/fc41c266c33b873b.webpack.hot-update.json
.next/static/webpack/pages/_app.e69e7fa3e4d1378c.hot-update.js
.next/static/webpack/pages/index.03c9d31e49503bf4.hot-update.js
.next/static/webpack/pages/index.0bf3bc08974450d4.hot-update.js
.next/static/webpack/pages/index.0ffafaaa8292c8ca.hot-update.js
.next/static/webpack/pages/index.126f00e43462b2bc.hot-update.js
.next/static/webpack/pages/index.1509a11a541748dc.hot-update.js
.next/static/webpack/pages/index.2806a388b60082c1.hot-update.js
.next/static/webpack/pages/index.2d58dab8caedbffd.hot-update.js
.next/static/webpack/pages/index.30ca0756a7d39436.hot-update.js
.next/static/webpack/pages/index.3cbf3358a881d44f.hot-update.js
.next/static/webpack/pages/index.48cd940fe3ecf37c.hot-update.js
.next/static/webpack/pages/index.4ca9913733630f30.hot-update.js
.next/static/webpack/pages/index.4e77a86d6c4f53e9.hot-update.js
.next/static/webpack/pages/index.4fcfc2fa3c95b4cf.hot-update.js
.next/static/webpack/pages/index.5b3e98247d242de6.hot-update.js
.next/static/webpack/pages/index.5ee8c42de4e15143.hot-update.js
.next/static/webpack/pages/index.6484209048d79234.hot-update.js
.next/static/webpack/pages/index.736f5ef448f23133.hot-update.js
.next/static/webpack/pages/index.7aefb0ae5b9b4061.hot-update.js
.next/static/webpack/pages/index.7ece184eac4dbc51.hot-update.js
.next/static/webpack/pages/index.84a539a7c611ea47.hot-update.js
.next/static/webpack/pages/index.8940eb14710402fb.hot-update.js
.next/static/webpack/pages/index.906f043abd5410f0.hot-update.js
.next/static/webpack/pages/index.941c0f6d9a35858d.hot-update.js
.next/static/webpack/pages/index.9dd85351abeb1055.hot-update.js
.next/static/webpack/pages/index.9fcb88af16e20949.hot-update.js
.next/static/webpack/pages/index.bc97a6b2a355a65c.hot-update.js
.next/static/webpack/pages/index.c1919b6958ba2036.hot-update.js
.next/static/webpack/pages/index.cb94f7aabe051134.hot-update.js
.next/static/webpack/pages/index.d54364fdec5fe88a.hot-update.js
.next/static/webpack/pages/index.d59a75a516eec30d.hot-update.js
.next/static/webpack/pages/index.dd883b7fa2df5e67.hot-update.js
.next/static/webpack/pages/index.e69e7fa3e4d1378c.hot-update.js
.next/static/webpack/pages/index.e70ac9fb62257809.hot-update.js
.next/static/webpack/pages/index.ef39d04f537f0170.hot-update.js
.next/static/webpack/pages/index.f2b517b71fc6dbed.hot-update.js
.next/static/webpack/pages/index.f6fd967f5d9b5b6b.hot-update.js
.next/static/webpack/webpack.03c9d31e49503bf4.hot-update.js
.next/static/webpack/webpack.0bf3bc08974450d4.hot-update.js
.next/static/webpack/webpack.0ffafaaa8292c8ca.hot-update.js
.next/static/webpack/webpack.126f00e43462b2bc.hot-update.js
.next/static/webpack/webpack.1509a11a541748dc.hot-update.js
.next/static/webpack/webpack.2806a388b60082c1.hot-update.js
.next/static/webpack/webpack.2d58dab8caedbffd.hot-update.js
.next/static/webpack/webpack.30ca0756a7d39436.hot-update.js
.next/static/webpack/webpack.3b84ae907eacad0b.hot-update.js
.next/static/webpack/webpack.3cbf3358a881d44f.hot-update.js
.next/static/webpack/webpack.48b1f2720d34c6ed.hot-update.js
.next/static/webpack/webpack.48cd940fe3ecf37c.hot-update.js
.next/static/webpack/webpack.4ca9913733630f30.hot-update.js
.next/static/webpack/webpack.4e77a86d6c4f53e9.hot-update.js
.next/static/webpack/webpack.4fcfc2fa3c95b4cf.hot-update.js
.next/static/webpack/webpack.5b3e98247d242de6.hot-update.js
.next/static/webpack/webpack.5ee8c42de4e15143.hot-update.js
.next/static/webpack/webpack.6484209048d79234.hot-update.js
.next/static/webpack/webpack.736f5ef448f23133.hot-update.js
.next/static/webpack/webpack.7383c26ec2cad832.hot-update.js
.next/static/webpack/webpack.785cd2eb6a853eae.hot-update.js
.next/static/webpack/webpack.7aefb0ae5b9b4061.hot-update.js
.next/static/webpack/webpack.7ece184eac4dbc51.hot-update.js
.next/static/webpack/webpack.84a539a7c611ea47.hot-update.js
.next/static/webpack/webpack.8940eb14710402fb.hot-update.js
.next/static/webpack/webpack.89b1f9fb93bc34a7.hot-update.js
.next/static/webpack/webpack.8e79e38ca2ad853e.hot-update.js
.next/static/webpack/webpack.906f043abd5410f0.hot-update.js
.next/static/webpack/webpack.941c0f6d9a35858d.hot-update.js
.next/static/webpack/webpack.9bc923a0dfc3c4c8.hot-update.js
.next/static/webpack/webpack.9dd85351abeb1055.hot-update.js
.next/static/webpack/webpack.9fcb88af16e20949.hot-update.js
.next/static/webpack/webpack.a19b0b346b567832.hot-update.js
.next/static/webpack/webpack.b26fb131924c9ccf.hot-update.js
.next/static/webpack/webpack.b539bc682ec26e6d.hot-update.js
.next/static/webpack/webpack.bc97a6b2a355a65c.hot-update.js
.next/static/webpack/webpack.c1919b6958ba2036.hot-update.js
.next/static/webpack/webpack.c2f834ec9119240f.hot-update.js
.next/static/webpack/webpack.c66a7f99bae9befd.hot-update.js
.next/static/webpack/webpack.c6c48bc2a94eb8c1.hot-update.js
.next/static/webpack/webpack.cb94f7aabe051134.hot-update.js
.next/static/webpack/webpack.d2f66c840fe6a54c.hot-update.js
.next/static/webpack/webpack.d4a5f022ac958a79.hot-update.js
.next/static/webpack/webpack.d54364fdec5fe88a.hot-update.js
.next/static/webpack/webpack.d59a75a516eec30d.hot-update.js
.next/static/webpack/webpack.dd883b7fa2df5e67.hot-update.js
.next/static/webpack/webpack.e5398877029a44f8.hot-update.js
.next/static/webpack/webpack.e69e7fa3e4d1378c.hot-update.js
.next/static/webpack/webpack.e70ac9fb62257809.hot-update.js
.next/static/webpack/webpack.ed54c8bd440f73d5.hot-update.js
.next/static/webpack/webpack.ef39d04f537f0170.hot-update.js
.next/static/webpack/webpack.f2b517b71fc6dbed.hot-update.js
.next/static/webpack/webpack.f6fd967f5d9b5b6b.hot-update.js
.next/static/webpack/webpack.fc41c266c33b873b.hot-update.js
.next/trace
backup/22-06-22
next.config.js
README.md
